[Desktop Entry]
Name=Kinto_xkey
GenericName=Kinto_xkey
Comment=Make Linux Type Like it's a Mac
Exec=/bin/bash -c "grep -q 'autostart = true' /home/bon/.config/kinto/kinto.py &&  +SI:localuser:root && sudo /usr/bin/systemctl restart xkeysnail"
# Budgie logoff fix to avoid key input loss
# ;/home/bon/.config/kinto/logoff.sh
# ;sudo /usr/local/bin/logoff.sh $USER $DISPLAY
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true